*.sdf
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lib

# Executables
*.exe
*.out
*.app

Debug/
